// cover some element-ui styles

.el-breadcrumb__inner,
.el-breadcrumb__inner a {
  font-weight: 400 !important;
}

.el-upload {
  input[type='file'] {
    display: none !important;
  }
}

.el-upload__input {
  display: none;
}

.cell {
  .el-tag {
    margin-right: 0;
  }
}

.small-padding {
  .cell {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.fixed-width {
  .el-button--mini {
    padding: 7px 10px;
    min-width: 60px;
  }
}

.status-col {
  .cell {
    padding: 0 10px;
    text-align: center;

    .el-tag {
      margin-right: 0px;
    }
  }
}

// to fixed https://github.com/ElemeFE/element/issues/2461
.el-dialog {
  transform: none;
  left: 0;
  position: relative;
//   margin: 0 auto;
}

// refine element ui upload
.upload-container {
  .el-upload {
    width: 100%;

    .el-upload-dragger {
      width: 100%;
      height: 200px;
    }
  }
}
// dropdown
//.el-dropdown-menu {
//  a {
//    display: block
//  }
//}

// fix date-picker ui bug in filter-item
.el-range-editor.el-input__inner {
  display: inline-flex !important;
}

// to fix el-date-picker css style
.el-range-separator {
  box-sizing: content-box;
}

/*
 element-ui 样式重置
*/
.elODialogModal {
  .el-dialog {
    margin-top: 7vh !important;
  }
  .el-dialog__header {
    border-bottom: 1px solid #ddd;
  }
  .el-dialog__body {
    padding-top: 10px;
    overflow-y: auto;
  }
}
.elODialogModalBodyH60vh {
  .el-dialog__body {
    min-height: 50vh;
    max-height: 65vh;
  }
}

.elODialogModalBodyH70vh {
  .el-dialog__body {
    min-height: 60vh;
    max-height: 70vh;
  }
}

.elODialogModalBodyH40vh {
  .el-dialog__body {
    min-height: 40vh;
    max-height: 55vh;
  }
}
.elODialogModalBodyW80vh {
  .el-dialog__body {
    width: 80vh;
  }
}

.elFormItemMarginB0px {
  .el-form-item {
    margin-bottom: 12px !important;
  }
}

// * card 卡片样式
.card {
	box-sizing: border-box;
	padding: 20px;
	overflow-x: hidden;
	background-color: var(--el-fill-color-blank);
	border: 1px solid var(--el-border-color-light);
	border-radius: 4px;
	box-shadow: 0 0 12px rgb(0 0 0 / 5%);
}

// * 不需要 card 卡片样式（在组件内使用 proTable 会使用到）
.no-card {
	.card {
		padding: 0;
		background-color: transparent;
		border: none;
		border-radius: 0;
		box-shadow: none;
	}
}
// * table-box 表格页面样式
.self-table {
	display: flex;
	flex: 1;
	flex-direction: column;
	width: 100%;
	height: 100%;

	// table-search 表格搜索样式
	.self-search {
		display: flex;
		padding: 18px 18px 0;
		margin-bottom: 10px;
		.el-form {
			max-width: 1260px;
			.el-form-item {
				margin-right: 5px;
				.el-input,
				.el-select,
				.el-date-editor--timerange {
					width: 210px;
				}
				.el-date-editor--datetimerange,
				.el-date-editor--daterange {
					width: 400px;
				}

				// 去除时间选择器上下 padding
				.el-range-editor.el-input__wrapper {
					padding: 0 10px;
				}

				// el-select 为多选时不换行显示
				.el-select__tags {
					overflow: hidden;
					white-space: nowrap;
				}
			}
			.more-item {
				display: inline;
			}
		}
		.search-operation {
			margin-left: 15px;
			// white-space: nowrap;
			.search-isOpen {
				// margin-left: 20px;
			}
		}
	}

	// 表格 header 样式
	.table-header {
		.header-button-lf {
			float: left;
			.el-button {
				margin-bottom: 15px;
			}
		}
		.header-button-ri {
			float: right;
			.el-button {
				margin-bottom: 15px;
			}
		}
	}

	// el-table 表格样式
	.el-table {
		// 表格自适应撑满整个页面(设置了 flex:1,页面上表格必须添加 height 属性)
		flex: 1;
		.el-table__header th {
			height: 45px;
			font-size: 15px;
			font-weight: bold;
			color: #252525;
			background: #fafafa;
			text-align: center;
		}
		.el-table__row {
			height: 45px;
		}

		// 设置 el-table 中 header 文字不换行
		.el-table__header .el-table__cell > .cell {
			white-space: nowrap;
		}

		// 解决表格数据为空时样式不居中问题(仅在element-plus中)
		.el-table__empty-block {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			.table-empty {
				line-height: 30px;
			}
		}

		// table 中 image 图片样式
		.table-image {
			width: 50px;
			height: 50px;
			border-radius: 50%;
		}
	}

	// 表格 pagination 样式
	.el-pagination {
		display: flex;
		justify-content: flex-end;
		margin-top: 20px;
	}
}

// * el-table 组件大小特殊样式
.el-table--large {
	.el-table__row,
	.el-table__header th {
		height: 52px !important;
		font-size: 16px !important;
	}
}
.el-table--small {
	.el-table__row,
	.el-table__header th {
		height: 38px !important;
		font-size: 14px !important;
	}
}

.el-menu-item.is-active{
	background-color: var(--el-menu-active-bg-color);
}